################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicLibrary/DesignTimeBuild/.dtbcache.v2
/.vs/BasicLibrary/v17/.suo
/obj/Debug/net8.0/ref
/obj/Debug/net8.0/refint
/.vs
/bin
/obj

/obj/Debug/net8.0/BasicLibrary.AssemblyInfo.cs
/obj/Debug/net8.0/BasicLibrary.AssemblyInfoInputs.cache
/.vs/BasicLibrary/v17/DocumentLayout.json
/.vs/BasicLibrary/FileContentIndex/1a3d56d5-4ae8-4e04-8054-07194d1ad2ff.vsidx
